{% extends 'base.html' %}
{% load static %}

{% block title %}
  Мед комфорт
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4 text-center">
      <img src="{% static 'img/logo.png' %}" alt="Логотип" height="300px">
    </div>
    <div class="col-sm-8">
      <h1 class="text-center mb-4">
        Добро пожаловать в клинику<br>
        "Мед Комфорт"!
      </h1>
      <p class="text-justify">
        Мы - команда профессиональных медицинских экспертов,
        предоставляющих высококачественные медицинские услуги
        в комфортной и дружественной атмосфере. <br>
        Наша цель - заботиться о вашем здоровье и обеспечивать лучшую
        медицинскую помощь в соответствии с вашими потребностями.
        В клинике "Мед Комфорт" мы предлагаем широкий
        спектр услуг, начиная от общей диагностики и лечения
        до специализированных медицинских услуг. <br>
        Мы ждем вас в клинике "Мед Комфорт", где ваше здоровье - наша главная забота.
      </p>
    </div>
  </div>
{% endblock %}